

:root{
--cor-de-fundo:#1e1e1e;
--verde:#6FFF57;
--branco:#ffffff;
}
body{
background-color: var(--cor-de-funo);
color:var(--branco);
font-family: (hakra petch,sans-serif);
text-align: center;
}
h1 span {
color: var(--verde);
}
#dias_restantes{
color:var(--verde);
font-size:50px;
}